
@use 'sass:math';

$columns: 12;
$base-column-width: math.div(100%, 12);

.container {
    max-width: 30em;
    margin: 0 auto;
}

.row {
    display: flex;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: $base-column-width * $i;
    }
}